.box-form { width: 95%; }
.box-form h3 { font-size: 20px; }
.box-info h3 span { margin-left: 0; margin-top: 0; }
.box-info p { font-size: 18px; }

#logo { position: relative; left: auto; top: auto; right: auto; margin: 30px auto;}
#contact { position: relative; left: auto; top: auto; right: auto; margin: 30px auto;}

.box-card .info h3 { font-size: 32px;}
.box-card .the-card { width: 90%;}